<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>抱歉，出错了</title>
    <link href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" rel="stylesheet">
</head>
<body>
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_info weui_icon_msg"></i></div>
    <div class="weui_text_area"><h4 class="weui_msg_title">请在微信客户端打开链接</h4></div>
</div>
</body>
</html>
